@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Raleway:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
:root{
    --cor-fundo: #222831;
    --cor-titulo: #F0EB8D;
    --cor-texto: #F0EB8D;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--cor-fundo); 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: background 0.2 linear;
}
.checkbox{
    opacity: 0;
    position: absolute;
    height: 50px;
    width: 50px;
}
.label{
    background-color: #000000;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;

    transform: scale(1.5);
}
.label .ball{
    background-color: #ffffff ;
    border-radius: 50%;
    position: absolute;
    height: 22px;
    width: 22px;

    transform: translate(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball{
    transform: translate(24px);
}
.fa-moon{
    color: #D6CC0D;
}
.fa-sun{
    color: #f39c12;
}
.cabecalho{
    display: flex;
    flex-direction: row;
    padding: 18px;
    justify-content: space-around;
    align-items: center;

}

.cabecalho-menu{
    display: flex;
    gap: 2rem;
    
}

.cabecalho-menu-link{
    font-family: 'Oswald', sans-serif;
    color: var(--cor-titulo);
    font-size: 24px;
    font-weight: 400;
}

.cabecalho-menu-imagem{
    width: 90px;
    height: 90px;
}

.conteudo{
    border-top: 0.3px solid var(--cor-texto);
    border-bottom: 2px solid var(--cor-texto);
    flex: 1;
}

.conteudo-principal-div{
    width: 50%;
}

.conteudo-principal{
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: space-around;
    align-items: center;
}
.conteudo-principal-div{
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}
.conteudo-principal-titulo{
    font-family: 'Oswald', sans-serif;
    color: var(--cor-titulo);
    font-size: 32px;
    font-weight: 400;
}

.conteudo-principal-texto{
    font-family: 'Raleway', sans-serif;
    color: var(--cor-texto);
    font-size: 20px;
    font-weight: 200;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 24px;

}
strong{
    font-size: 24px;
}

.conteudo-principal-imagem{
    width: 150px;
    height: 150px;
}
.rodape{
    height: 100px;
    margin: 0;
}
.rodape-imagem{
    width: 90px;
    height: 90px;
    display: block;
    margin: 0 auto;
}
.container{
    display: flex;
    align-items: center;
    gap: 70px;
    flex-direction: column;
}
.imagem{
    border-radius: 50%;
}
.colunas{
    color: var(--cor-texto);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 70px;
}